{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Reset
Password {% endblock title %} {% block content %}
  {% include 'messages.html' %}
  <div class="container p-4 d-flex justify-content-center align-items-center flex-column bg-white mt-5 resetpass-container resetpass-shadow">
    <form method="POST" class="d-flex flex-column row">
      <h4 class="font-weight-bold mt-3 mx-auto">Mật khẩu mới </h4>
      {% csrf_token %}
      <input name ="new_password1" type="password" class="resetpass-input my-3 col-lg-12 col-md-12 col-12" placeholder="Mật khẩu mới" required>                 
      <input name ="new_password2" type="password" class="resetpass-input my-3 col-lg-12 col-md-12 col-12" placeholder="Nhập lại mật khẩu" required>                 
      <button class="btn btn-outline-info feedback-btn profile-btn mx-auto my-2 col-lg-12 col-md-12 col-12" type="submit" Email>Thay đổi</button> 
    </form>
  </div>
  {% endblock content %}
